<form method="POST" id="gear_detect_form" action="/gear_detect">
	<label>
		<span>строки наименований для распознавания:</span>
		<textarea class="list" name="list" pattern="$.*\S.*^" required></textarea>
	</label>
	<label>
		<span>распознать</span>
		<input type="submit" value="&rarr;">
	</label>

	<table class="output nod">
		<caption>результаты</caption>
		<thead></thead>
		<tbody></tbody>
	</table>
</form>