.both {
	clear: both ;
}
.nod {
	display: none !important ;
}
.overlay {
	margin: 20px ;
}
.list {
	width: 100% ;
	height: 200px ;
	display: block ;
	clear: both ;
}
label {
	display: block ;
}
th , td {
	padding: 5px ;
	overflow: hidden ;
	max-width: 70px ;
	text-overflow: ellipsis ;
	font-size: 80% ;
	word-break: break-all ;
	vertical-align: top;
	border: 1px black solid;
	border-collapse: collapse;
	color: #000000 ;
	font-weight: normal ;
}
.error1 {
	background-color: rgba( 255 , 0 , 0 , 0.3 ) ;
}